%dl.dl-horizontal
  .row
    .col-lg-5.col-md-5
      %dt Scene ID:
      %dd= link_to_unless current_page?(scrap), scrap.scene_gid, scrap
      %dt License:
      %dd
        %abbr{ title: scrap.license.try(:synonym_label).try(:humanize) }
          = scrap.license.try(:label)
    .col-lg-5.col-md-5
      %dt Public:
      %dd= scrap.license.try(:downloadable) ? 'Yes' : 'No'    
      %dt Source:
      %dd
        %abbr{ title: scrap.source.try(:email) }
          = scrap.source.try(:name)
    .col-lg-2.col-md-2
      = link_to scrap, class: 'btn btn-default', data: { behavior: 'show-map', wkt: scrap.footprint.wkt }, target: :_blank do
        %i.fa.fa-globe
        Map
    
- if current_page?(scrap) and @related_scraps.count > 0
  %h4 Related Scenes
  = render 'scrap_list', scraps: @related_scraps, skip: scrap
