.panel.panel-primary
  .panel-heading
    Search for a scene
  .panel-body
    = form_tag '/search', method: 'GET', role: 'form', class: 'form-inline' do
      .form-group
        = text_field_tag :q, params[:q], class: 'form-control', style: 'width: 300px;', placeholder: 'Scene id (ex: SPOT5.SDMI)'
      .form-group
        = select_tag :license_id, options_from_collection_for_select(@licenses, :id, :label, params[:license_id]), class: 'form-control', prompt: 'Select a license'
      .checkbox
        %label
          = check_box_tag :public, 'yes', params[:public]
          Public downloads only
      
      = submit_tag 'Search', class: 'btn btn-primary pull-right'