<!DOCTYPE html>
<html>
<head>
  <title>BrowseAlaskamappedOrg</title>
  <%= stylesheet_link_tag    "orthos", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "orthos", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/analytics' %>
  <section id="header">
    <div class="title">
      <%= yield :header_message %>
    </div>
    <%= render 'layouts/site_toolbar' %>
  </section>
  <section id="map-container" class="full-screen">
    <%= yield :map_container %>
  </section>
  <%= yield %>
  <%= render 'layouts/login' %>      
</body>
</html>
